*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    gap: 5px;
    background-color:white;
    padding: 10px;
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 60px;
   
  }
   [class *=grid-item ]{
    background-color:gray;
    border: 1px ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .item-1{
    
    grid-row-start: 1;
    grid-row-end:9;
    grid-column-start: 1;
    grid-column-end:5;

  }
  .item-2{
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 5;

  }
  .item-3{
    
   
    grid-row-start: 1;
    grid-row-end: 5;
    grid-column-start:7 ;
    grid-column-end: 9;
  

  }
  .item-4{
    
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 5;
    grid-row-end:9;
    
  }
  .item-5{
   
   grid-column-start: 7;
   grid-column-end: 9;
   grid-row-start:5 ;
   grid-row-end:9 ;

  }
.grid-item:hover{
    background-color: lightgray;
    scale: 1.5;
}