*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container {
    display: grid;
    grid-template-areas:
     "header header"
     "article"
     "nav"
     "add"
     "footer footer"
     ;
    gap: 5px;
    background-color:white;
    padding: 10px;
    width: 70%;
    height: 80vh;
    margin: 0 auto;
    margin-top: 60px;
   
  }
   [class *=grid-item ]{
    background-color: #FCD800;
    border: 1px ;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }
  .item-1{
    
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 1;
    grid-column-end:9;

  }
  .item-2{
    
    
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 2;
   grid-row-end: 8;

  }
  .item-3{
    
   
   grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 1;
    grid-column-end: 2;

  }
  .item-4{
    
   
    grid-row-start: 2;
    grid-row-end:8;

  }
  .item-5{
   
    grid-column-start: 2;
    grid-column-end: 9;


  }
  p{
text-align: left;
font-size: medium;
  }